* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html{
      --text-background-color: rgba(39, 39, 43, 0.75);
      --text-color: #E4F2E7;
      --nav-text-color: #AFB1B6;
      --ratio: 		1.2;
      --h1-size: 	calc( 1rem * var(--ratio) );
      --h2-size: 	calc( var(--size-one) * var(--ratio) );
      --h3-size: 	calc( var(--size-two) * var(--ratio) );
  }
  
  
  body {
      background-color: #000;
      max-width: 100%;
      max-height: 100%;
  }

  h1{
    color: var(--text-color);
    text-shadow: 0px 0px 8px #0ECF9F;
    font-family: Source Serif Pro;
    font-size: var(--h1-size);
    font-weight: 300;

  }

  h2{
    color: var(--text-color);
    font-family: Source Sans Pro;
    font-size: var(--h2-size);
    font-weight: 400;
  }

  p{
    color: var(--text-color);
    font-family: arial;
    font-size: 1rem;
    font-weight: 700;
  }

  .footer{
    align-items: center;
    background-color: #000;
    bottom: 0;
    color: var(--text-color);
    display:flex;
    flex-direction: column;
    font-size: small;
    position:absolute;
    height:1rem;
    width:100%;
  }
  
  .main-header{
      align-content: center;
      background-color: #000;
      color: var(--nav-text-color);
      display:flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      position:fixed;
  }
  
  .main-header h1{
      color: var(--nav-text-color);
      font-size: var(--h3-size);
  }
  
  .main-header ul{
      list-style: none;
      font-size: smaller;
  }
  
  .main-header li{
      padding-bottom: 2rem;
  }
  
  .main-header a{
    color: var(--nav-text-color);
      text-decoration: none;
      transition: color 0.4s ease;
  }
  
  .main-header a:hover{
      color: var(--text-color);
      transition: color 0.4s ease;
  }

    /*homepage*/
  
  .main {
      background-color: var(--text-background-color);
      color:var(--text-color);
      min-height: 100%;
      display: block;
    }
  
  .left{
      background-color: var(--text-background-color);
      text-align: left;
      width:100%;
    }
  
  .about{
      background-color: var(--text-background-color);
      text-align: left;
      width:100%;
    }
  
  .right{
      background-color: var(--text-background-color);
      text-align: left;
      width:100%;
    }

      /*desktop view for homepage*/

  @media only screen and (min-width: 992px){

    html {
		--ratio: 2.6;
	}

  .main {  display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(3, 1fr) .25fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". left left about about ."
      ". bottom bottom bottom bottom ."
      ". . . . . .";
  }
  
  .bottom {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "services languages software"
      "services languages software"
      "services languages software";
    grid-area: bottom;
  }
  
  .services { grid-area: services; }
  
  .languages { grid-area: languages; }
  
  .software { grid-area: software; }
  
  .left { grid-area: left; }
  
  .about { grid-area: about; }
  
  

    /* My Work/ Portfolio Page Styling*/

    /*About Me Page Styling*/

    /*Contact Me Styling*/

    .form {
      height: 100px;
      width: 100px;
    }    

    .form-active{
        animation-name: contact-animation;
        animation-fill-mode: forwards;
        animation-duration: 5s;
      }
      
      @keyframes contact-animation {
        from {
          transform: translateY(0);
          opacity: 0;
        }
        to {
          transform: translateY(100%);
          opacity: 100;
        }
      }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    resize: vertical
  }
  
  input[type=submit] {
    background-color: var(--text-background-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #E4F2E7;
    color: #27272B;
  }

  /* Contact Form animates off styling */

 .animate-active{
    -webkit-animation: get-off 3s;
    animation: get-off 3s;
    }

    @keyframes get-off {
    from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0%);
      }
    }
  }