* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --text-background-color: rgba(39, 39, 43, 0.75);
  --text-color: #e4f2e7;
  --nav-text-color: #afb1b6;
  --ratio: 1.2;
  --h1-size: calc(1rem * var(--ratio));
  --h2-size: calc(var(--size-one) * var(--ratio));
  --p-size: calc(var(--size-two) * var(--ratio));
}

body {
  background-image:url(../assets/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin:0;
  padding:0;
}

h1 {
  color: var(--text-color);
  text-shadow: 0px 0px 8px #0ecf9f;
  text-align: center;
  font-family: Source Serif Pro, Georgia, "Times New Roman", Times, serif;
  font-size: var(--h1-size);
  font-weight: 300;
  padding: 1rem;
}

h2 {
  color: var(--text-color);
  font-family: Source Sans Pro, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: var(--h2-size);
  font-weight: 400;
}

p {
  background-color: var(--text-background-color);
  color: var(--text-color);
  font-family: arial;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
}

.footer p {
  align-items: center;
  background-color: #000;
  bottom: 0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: small;
  position: absolute;
  height: 1rem;
  width: 100%;
}

.main-header {
  align-content: center;
  background-color: #000;
  color: var(--nav-text-color);
  font-family: Source Sans Pro, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  position: fixed;
}

.main-header h2 {
  align-content: center;
  color: var(--nav-text-color);
  font-size: var(--h3-size);
}

.main-header ul {
  list-style: none;
  font-size: smaller;
}

.main-header li {
  padding-bottom: 2rem;
}

.main-header a {
  color: var(--nav-text-color);
  text-decoration: none;
  transition: color 0.4s ease;
}

.main-header a:hover {
  color: var(--text-color);
  transition: color 0.4s ease;
}

/*homepage*/

.main {
  color: var(--text-color);
  display: block;
  margin-left:10%;
}

.main h1 {
  text-align: left;
}

.left {
  text-align: left;
  width: 100%;
}

.about {
  background-color: var(--text-background-color);
  text-align: left;
  width: 100%;
}

.bottom {
  background-color: var(--text-background-color);
  text-align: left;
  width: 100%;
  padding: 1rem;
}

/* My Work / Portfolio*/

.folio {
  display: block;
  margin-left:30%;
}

.proj-text1, .proj-text2, .proj-text3 p {
  background-color: transparent;
}

.proj-text1, .proj-text2, .proj-text3 {
  background-color: var(--text-background-color);
}

.proj1 {
  display: block;
}

.proj2 {
  display: block;
}

.proj3 {
  display: block;
}

/*About Me*/

.about-main{
  display: block;
  margin-left:10%;
}

/*Contact Me form*/
.form {
  height: 100px;
  width: 100px;
}

.form-active {
  animation-name: contact-animation;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

@keyframes contact-animation {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(100%);
    opacity: 100;
  }
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--text-background-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e4f2e7;
  color: #27272b;
}

/* Contact Form animates off styling */

.animate-active {
  -webkit-animation: get-off 3s;
  animation: get-off 3s;
}

@keyframes get-off {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

/*desktop for home*/

@media only screen and (min-width: 992px) {
  html {
    --ratio: 2.6;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". left left about about ."
      ". bottom bottom bottom bottom .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "services languages software"
      "services languages software"
      "services languages software";
    grid-area: bottom;
  }

  .services {
    grid-area: services;
  }

  .languages {
    grid-area: languages;
  }

  .software {
    grid-area: software;
  }

  .left {
    grid-area: left;
  }

  .about {
    grid-area: about;
  }

  /*desktop for portfolio*/

  .folio {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". . work-left work-center work-right ."
      ". . work-left work-center work-right .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }

  /*desktop for proj1*/

  .proj1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". previous vid-proj forward ."
      ". . proj-text1 . .";
  }

  .vid-proj {
    grid-area: vid-proj;
  }

  .proj-text1 {
    grid-area: proj-text1;
  }

  .previous {
    grid-area: previous;
  }

  .forward {
    grid-area: forward;
  }

  /*desktop for proj2*/

  .proj2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". previous proj2-pic forward ."
      ". . proj-text2 . .";
  }

  .proj2-pic {
    grid-area: proj2-pic;
  }

  .proj-text2 {
    grid-area: proj-text2;
  }

  .previous {
    grid-area: previous;
  }

  .forward {
    grid-area: forward;
  }

  /*desktop for proj3*/

  .proj3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". previous proj3-pic forward ."
      ". . proj-text3 . .";
  }

  .proj-text3 {
    grid-area: proj-text3;
  }

  .proj3-pic {
    grid-area: proj3-pic;
  }

  .previous {
    grid-area: previous;
  }

  .forward {
    grid-area: forward;
  }

  /*desktop for about*/

  .about-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(2, 1fr) 0.25fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". about-left about-center about-right ."
      ". . . . .";
  }

  .about-left {
    grid-area: about-left;
  }

  .about-center {
    grid-area: about-center;
  }

  .about-right {
    grid-area: about-right;
  }

}
